.container{

    
    display: flex;
    flex-direction:column; 
    
    flex-wrap: wrap;
    
    border-style: solid;
    justify-content: center;
    margin-top: 150px;
    
    
    
}

.item{
 border-style: solid;
 border-color: rgb(14, 185, 143);
 height: 20px;
 width: 20px;
 text-align: center;
 

    
}
#display{
    width: 80px;
    height: 50px;
    border-style: solid;
}
.temp{
 /*   border-style: solid; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}